<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_head(title)">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title th:replace:"${title}">Layout</title>
	<esi:include src="/common/header-1.0" />
</head>

<body th:fragment="common_body(header,content)">
	<div class="container">
		<esi:include src="/common/navbar-1.0" />
		<h1 th:replace="${header}">Layout</h1>
		<div th:replace="${content}">Fake content</div>
	</div>
	<esi:include src="/common/footer-1.0" />
</body>

</html>